*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar-brand{
  margin-right: 5%;
}

.slideshowSection{
  padding:0;
  margin: 0;
  width: 100%;
  height: 95vh;
}

.carousel{
  margin:0;
  padding:0;
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.carousel-item img{
  margin: 0;
  padding: 0;
  object-fit: cover;
  height: 95vh;
  filter: brightness(80%);
}

.carousel-caption{
  position: absolute;
  top: 55%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.carousel-caption h1{
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 1%;
}





/* Media Queries */
@media screen and (max-width:767px){

.navbar li{
  text-align: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.navbar-toggler{
  border: none;
}

.slideshowSection{
  width: 100%;
  height: 90vh;
  text-align: center;
}

.carousel{
  width: 100%;
  object-fit: contain;
  height: 90vh;
  text-align: center;
}

.carousel-control-prev{
  display: none;
}

.carousel-control-next{
  display: none;
}

.carousel-item img{
  width: 100%;
  height: 90vh;
  object-fit: cover;
  filter: brightness(80%);
  user-select: none;
  vertical-align: center;
}

.d-md-block {
  width: 100%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-caption h1{
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 1%;
}
}










.aboutSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.about{
  padding: 20px;
  text-align: center;
  align-content: center;
  color: #2d2d2d;
}

.about h1{
  margin-top: 10%;
  margin-bottom: 10%;
}

.about p{
  font-size: 1.3rem;
  margin-top: 5%;
}

.btn-dark{
  border-radius: 0;
  margin-top: 5%;
}

.aboutImage{
  background-size: contain;
  margin: 0;
  padding: 0;
  max-width: 50%;
  flex: 0 0 50%;
}

.aboutImage img{
  width: 100%;
  object-fit: cover;
  user-select: none;
  vertical-align: middle;
  border-style: none;
}





/* Media Queries */
@media screen and (max-width:767px){

.aboutSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.about{
  padding: 20px;
  text-align: center;
  align-content: center;
}

.about h1{
  margin-top: 5%;
  margin-bottom: 15%;
}

.about p{
  font-size: 1.3rem;
  font-weight: lighter;
}
.btn-dark{
  border-radius: 0;
  margin-top: 3%;
  margin-bottom: 3%;
}

.aboutImage{
  background-size: cover;
  margin: 3% 0 0 0;
  padding: 0;
  max-width: 100%;
  /* flex: 0 0 50%; */
}

.aboutImage img{
  width: 100%;
  height: 35vh;
  object-fit: contain;
  user-select: none;
  vertical-align: middle;
  border-style: none;
}
}









/* Gallery */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0;
    overflow: hidden;
    margin: 0;
  }
  
  .column img {
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  

  .hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    /* height: auto; */
    margin: 0;
    padding: 0;
  }
  .hvrbox img {
    max-width: 100%;
  }
  .hvrbox .hvrbox-layer_bottom {
    display: block;
  }
  .hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    margin: 0;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox.active .hvrbox-layer_top {
    opacity: 1;
  }
  .hvrbox .hvrbox-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
  }
  .hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: block;
  }
  .hvrbox.active .hvrbox-text_mobile {
    display: none;
  }





  /* Media Queries */
@media screen and (max-width:767px){

  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 100%; /* IE10 */
    flex: 100%;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
    margin: 0;
  }

  .gallerySection{
    margin-top: -4.5%;
  }
  
  .hvrbox{
    display: block;
  }

  .hvrbox-layer_top{
    display: visible;
    opacity: 1;
  }

  .hvrbox:hover .hvrbox-layer_top,
  .hvrbox .hvrbox-layer_top {
    opacity: 1;
  }
}










.mygoal{
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  color: #2d2d2d;
  white-space: pre-wrap;
}





  /* Media Queries */
  @media screen and (max-width:767px){

    .mygoal{
      padding: 20px;
      background-color: #ffffff;
      text-align: center;
      color: #2d2d2d;
      margin-top: 5%;
      white-space: pre-wrap;
    }    

}










.getInTouch{
  background-image: url("seattle2.jpg");
  filter: brightness(90%);
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.getInTouch h1{
  margin-top: 10%;
  margin-left: 6%;
  font-weight: normal;
  color: #fff;
  font-size: 4.5rem;
}


.btn-dark{
  margin-left: 6%;
  padding: 15px;
  border-radius: 0;
  background-color: black;
}





  /* Media Queries */
  @media screen and (max-width:767px){

    .getInTouch{
      background-image: url("seattle2.jpg");
      filter: brightness(85%);
      background-color: grey;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 70vh;
    }
    
    .getInTouch h1{
      margin-top: 30%;
      margin-left: 6%;
      font-weight: normal;
      color: #fff;
      font-size: 4.5rem;
    }
    
    
    .btn-dark{
      margin-left: 6%;
      margin-top: 5%;
      padding: 15px;
      border-radius: 0;
      background-color: black;
    }
  }











.moreLinks{
  margin-top: 3%;
  padding: 20px;
  text-align: center;
  color: #2d2d2d;
  background-color: #ffffff;
}

.moreLinks ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.clients, .prints{
  font-size: 1.5rem;
  font-weight: lighter;
}

a{
  text-emphasis: none;
  color: #2d2d2d;
  text-decoration: none;
}

.clients:hover, .prints:hover{
  color: #2d2d2d;
  text-decoration: underline;
  margin-bottom: 2.5%;
}

a:hover{
  color: #2d2d2d;
}





  /* Media Queries */
  @media screen and (max-width:767px){

    .moreLinks{
      margin-top: 3%;
      padding: 13px;
      text-align: center;
      color: #2d2d2d;
      background-color: #ffffff;
    }
    
    .moreLinks ul{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    
    ul li{
      font-size: 1.5rem;
      font-weight: lighter;
      margin-top: 5%;
      text-decoration: none;
    }
    
    a{
      text-emphasis: none;
      color: #2d2d2d;
      text-decoration: none;
    }
    
    .clients:hover, .prints:hover{
      color: #2d2d2d;
    }
    
    a:hover{
      color: #2d2d2d;
    }
  }










footer{
  margin-top: 2%;
  background-color: #f5f5f7;
  color: #ffffff;
  font-weight: lighter;
}


  .moreLinks2{
    margin-top: 2%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-emphasis: none;
    text-align: center;
  }

.moreLinks2 li{
  color: #2d2d2d;
}





 /* Media Queries */
 @media screen and (max-width:767px){

  .moreLinks2{
    margin-top: 2%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    text-emphasis: none;
    text-align: center;
    text-decoration: none;
  }

.moreLinks2 li{
  color: #2d2d2d;
  text-decoration: none;
}
 }









footer .socialLinks{
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 2% 5% 0 0;
  font-weight: normal;
}






 /* Media Queries */
 @media screen and (max-width:767px){

  .socialLinks li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    font-size: normal;
    font-size: .9rem;
  }

  .socialLinks .insta{
    display: none;
  }


 }



















 /*                                                 ABOUT PAGE */

 .moreabout{
  margin-top: -5%;
  background-image: url("danyil2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  vertical-align: center;
  border-style: none;
  background-color: #2d2d2d;
  height: 98vh;
  width: 100%;
 }


 /* Media Queries */
 @media screen and (max-width:767px){

  .moreabout{
    margin-top: 0;
    background-image: url("danyil2.jpg");
    background-position: right center ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    vertical-align: center;
    border-style: none;
    background-color: #2d2d2d;
    height: 98vh;
    width: 100%;
   }
  
 }











 .moreaboutText{
   text-align: center;
   padding: 30px;
   width: 50%;
   margin: 0 auto;
 }

 .moreaboutText h1{
   font-weight: normal;
   margin: 2% 0 8% 0;
 }

 .moreaboutText p{
   font-weight: lighter;

 }




  /* Media Queries */
  @media screen and (max-width:767px){

    .moreaboutText{
      text-align: center;
      padding: 30px;
      width: 100%;
      margin: 0 auto;
    }
   
    .moreaboutText h1{
      font-weight: normal;
      margin: 2% 0 8% 0;
    }
   
    .moreaboutText p{
      font-weight: lighter;
   
    }

  }












 .moreAboutPicture{
   background-image: url("seattle2.jpg");
   background-color: #2d2d2d;
   height: 70vh;
   background-position: top center;
   background-size: cover;
 }




   /* Media Queries */
   @media screen and (max-width:767px){

    .moreAboutPicture{
      background-image: url("seattle2.jpg");
      background-color: #2d2d2d;
      height: 60vh;
      background-position: top center;
      background-size: cover;
    }

   }